<div class="main d-flex justify-content-center align-items-center">
    <form [formGroup]="loginForm" (ngSubmit)="submitClicked()" class="center-box shadow br-6 p-5">
        <div class="header fs-25 w-100 text-center bold">Login</div>

        <div class="field-container d-flex flex-column">
            <input formControlName="email" type="email" placeholder="Please Enter Email" class="textfield mt-4">
            
            <div class="validationError" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
                <div *ngIf="loginForm.get('email')?.errors?.['required']">Email is required</div>
                <div *ngIf="loginForm.get('email')?.errors?.['email'] || loginForm.get('email')?.errors?.['pattern']">Email is not valid</div>
            </div>

            <div class="password-container">
                <input formControlName="password" [type]="!showPassword ? 'text' : 'password'" autocomplete="off" placeholder="Please Enter Password" class="textfield mt-4 w-100">

                <i class="fa fa-eye password-icon" *ngIf="showPassword" (click)="handlePasswordIcon()"></i>
                <i class="fa fa-eye-slash password-icon" *ngIf="!showPassword" (click)="handlePasswordIcon()"></i>
            </div>

             <!-- Error message for Password field -->
             <div class="validationError" *ngIf="loginForm.get('password')?.touched && loginForm?.get('password')?.invalid">
                <div *ngIf="loginForm.get('password')?.errors?.['required']">Password is required</div>
            </div>

        </div>

        <div class="d-flex justify-content-center mt-4">
            <button type="submit" [disabled]="!loginForm.valid" class="primary-button" [ngClass]="{'invalid-button' : !loginForm.valid}">Submit</button>
        </div>

        <div class="container d-flex justify-content-center mt-4">
            <div class="login-guest py-1 px-3 pointer" (click)="loginGuest()">Login as guest</div>
        </div>

        <div class="mt-4 d-flex justify-content-end">
            <div>Don't have account. <span  (click)="signupClicked()" class="signuptext">Signup here</span></div>            
        </div>
    </form>
</div>